@import './variables';
@import './mixins';

.nav {
  display: flex;
  gap: 1.25rem;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding: .375rem .5rem;
    border-radius: .5rem;
    transition: background-color .2s ease, color .2s ease;

    &:hover {
      color: var(--primary-color);
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
